/build
/bin
.vscode
.*.swp
*~

/config.mk

/src/initgl/include/EGL/
/src/initgl/include/GLES2/
/src/initgl/include/GLES3/
/src/initgl/include/KHR/

/src/initgl/win32libs/chrome.zip
/src/initgl/win32libs/d3dcompiler_47.dll
/src/initgl/win32libs/libEGL.dll
/src/initgl/win32libs/libGLESv2.dll
/src/initgl/win32libs/vk_swiftshader.dll
/src/initgl/win32libs/vk_swiftshader_icd.json
